

</body>

<footer>
  © 2020 YASH LAHOTI.
  <div>
    <a href="https://twitter.com/explore"><i class="social-icon fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/imyashl/" <i class="social-icon fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/yash-lahoti-1794b3106/" <i class="social-icon fab fa-linkedin"></i></a>
  </div>

</footer>
</html>
